#products-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #e9dcc9;
  }
  #products-section .itemsContainer {
      display: grid;
      grid-template-columns: 50% 50%;
  }
  #products-section .home-product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    background-color: #ffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.233);
  }
  #products-section .home-product img {
    height: 220px;
  }
  #products-section .home-product p {
    margin-top: 12px;
    font-family: "Recoleta";
    letter-spacing: 2px;
  }
  #products-section .home-product .btn {
    background: #d9c09f;
    width: 130px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.062);
    color: #ffff;
    font-family: "Recoleta";
    text-decoration: none;
  }